.gh-menu {
	font: 700 14px $g-font-primary;
	text-transform: uppercase;

	li {
		display: inline-block;
		margin-left: 15px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		color: $g-color-text;
		display: block;
		text-decoration: none;
		transition: .3s color;

		&:hover {
			color: $g-color-primary;
		}
	}
}
