.icon-g-android:before {
  content: "\e900";
}
.icon-g-apple:before {
  content: "\e901";
}
.icon-g-behance:before {
  content: "\e902";
}
.icon-g-blackberry:before {
  content: "\e903";
}
.icon-g-facebook:before {
  content: "\e904";
}
.icon-g-flickr:before {
  content: "\e905";
}
.icon-g-github:before {
  content: "\e906";
}
.icon-g-google:before {
  content: "\e907";
}
.icon-g-google-plus:before {
  content: "\e908";
}
.icon-g-instagram:before {
  content: "\e909";
}
.icon-g-linkedIn:before {
  content: "\e90a";
}
.icon-g-magento:before {
  content: "\e90b";
}
.icon-g-pinterest:before {
  content: "\e90c";
}
.icon-g-skype:before {
  content: "\e90d";
}
.icon-g-slack:before {
  content: "\e90e";
}
.icon-g-snapchat:before {
  content: "\e90f";
}
.icon-g-spotify:before {
  content: "\e910";
}
.icon-g-tumblr:before {
  content: "\e911";
}
.icon-g-twitter:before {
  content: "\e912";
}
.icon-g-vimeo:before {
  content: "\e913";
}
.icon-g-whatsapp:before {
  content: "\e914";
}
.icon-g-windows-phone:before {
  content: "\e915";
}
.icon-g-youtube:before {
  content: "\e916";
}
.icon-g-arrow-bottom:before {
  content: "\e928";
}
.icon-g-arrow-left:before {
  content: "\e929";
}
.icon-g-arrow-right:before {
  content: "\e92a";
}
.icon-g-arrow-top:before {
  content: "\e92b";
}
.icon-g-hamburger:before {
  content: "\e92e";
}
.icon-g-page:before {
  content: "\e931";
}
.icon-g-search:before {
  content: "\e933";
}
.icon-g-home:before {
  content: "\e917";
}
.icon-g-newspaper:before {
  content: "\e918";
}
.icon-g-image:before {
  content: "\e919";
}
.icon-g-camera:before {
  content: "\e91a";
}
.icon-g-file-zip:before {
  content: "\e92c";
}
.icon-g-price-tag:before {
  content: "\e935";
}
.icon-g-cart:before {
  content: "\e93a";
}
.icon-g-phone:before {
  content: "\e942";
}
.icon-g-location:before {
  content: "\e947";
}
.icon-g-clock:before {
  content: "\e94e";
}
.icon-g-bell:before {
  content: "\e951";
}
.icon-g-bubble:before {
  content: "\e96b";
}
.icon-g-user:before {
  content: "\e971";
}
.icon-g-quotes-left:before {
  content: "\e977";
}
.icon-g-quotes-right:before {
  content: "\e978";
}
.icon-g-spinner:before {
  content: "\e97e";
}
.icon-g-cog:before {
  content: "\e994";
}
.icon-g-trophy:before {
  content: "\e99e";
}
.icon-g-bin:before {
  content: "\e9ac";
}
.icon-g-truck:before {
  content: "\e9b0";
}
.icon-g-download:before {
  content: "\e9c7";
}
.icon-g-link:before {
  content: "\e9cb";
}
.icon-g-eye:before {
  content: "\e9ce";
}
.icon-g-eye-blocked:before {
  content: "\e9d1";
}
.icon-g-bookmark:before {
  content: "\e9d2";
}
.icon-g-star-full:before {
  content: "\e9d9";
}
.icon-g-heart:before {
  content: "\e9da";
}
.icon-g-cross:before {
  content: "\ea0f";
}
.icon-g-checkmark:before {
  content: "\ea10";
}
.icon-g-share2:before {
  content: "\ea82";
}
