@mixin list(
		$_listClass 	: box,
		$_boxNumberLine : 4,
		$_boxWrap 		: $container,
		$_boxWidth 		: 277px,
		$_boxMargin 	: $colMargin
	) {

	.list-#{$_listClass} > * {
		margin-bottom: $_boxMargin - 10px;
		width: 100%;

		@media ( min-width: $mobile ) and ( max-width: $tablet ) {
			margin-left: perc( $_boxMargin, $mobile );
			width: perc( ( $mobile / 2 - $_boxMargin / 2 ), $mobile );

			&:nth-child(2n+1) {
				clear: both;
				margin-left: 0;
			}
		}

		@media ( min-width: $tablet + 1 ) {
			margin-left: perc( $_boxMargin, $_boxWrap );
			width: perc( $_boxWidth, $_boxWrap );

			&:nth-child(#{$_boxNumberLine}n+1) {
				clear: both;
				margin-left: 0;
			}
		}
	}
}

@mixin listFixed(
		$_listClass 	: box,
		$_boxNumberLine : 4,
		$_boxWrap 		: $container,
		$_boxWidth 		: 300px,
		$_boxMargin 	: $colMargin
	) {

	.list-#{$_listClass} > * {
		margin-bottom: $_boxMargin;
		margin-left: perc( $_boxMargin, $_boxWrap );
		width: perc( $_boxWidth, $_boxWrap );

		&:nth-child(#{$_boxNumberLine}n+1) {
			clear: both;
			margin-left: 0;
		}
	}
}

.list {
	@extend %clearFix;

	> * {
		float: left;
	}
}