.breadcrumb {
	border-bottom: 1px solid $colorDetail;
	font-size: 0;
	padding: 8px 0;

	a {
		color: inherit;
		text-decoration: none;
	}

	.current {
		font-weight: bold;
	}
}

.breadcrumb li {
	display: inline-block;
	font-size: 12px;

	&:before {
		content: '>';
		margin: 0 5px;
		position: relative;
		top: 1px;
	}

	&:first-child {
		margin-left: 0;

		&:before {
			display: none;
		}
	}
}
