.navigation,
.navigation .sub-menu {
	background: $colorPrimary;
}

.navigation li {
	border-top: 1px solid darken($colorPrimary, 5%);
	position: relative;
}

.navigation a {
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
}

.navigation .sub-menu {
	display: none;
}

.btn-more-menu {
	background: rgba(#000, .2);
	cursor: pointer;
	height: 36px;
	right: 0;
	position: absolute;
	width: 36px;

	&:before,
	&:after {
		background: #fff;
		border-radius: 3px;
		content: "";
		height: 2px;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 18px;
		-webkit-transition: opacity .2s;
				transition: opacity .2s;
		-webkit-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
	}

	&:after {
		-webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg);
				transform: translate3d(-50%, -50%, 0) rotate(90deg);
	}

	&.btn-more-menu-active:after {
		opacity: 0;
	}
}

@media (min-width: $tablet) {

	.btn-more-menu {
		display: none;
	}

	.navigation li {
		border-top: none;
		display: inline-block;

		&:hover > .sub-menu {
			left: 0;
			opacity: 1;
		}
	}

	.navigation .sub-menu {
		display: block !important;
		left: -999em;
		opacity: 0;
		position: absolute;
		top: 100%;
		-webkit-transition: opacity .2s;
				transition: opacity .2s;

		li {
			display: block;

			&:hover > .sub-menu {
				left: 100%;
				top: 0;
			}
		}

		a {
			min-width: 180px;
		}
	}
}