// -- colors
$_commentTitleColor    : $colorTitle;
$_commentTextColor     : $colorText;
$_commentColorPrimary  : $colorPrimary;
$_commentColorDetail   : $colorDetail;
$_commentColorAlert    : $colorAlert;
$_commentLinkBg        : #f6f6f6;

// -- fonts
$_commentFontSizeSmall : 12px;

// -- size
$_commentImageSize     : 55px;

// -- Helpers
%commentBtn {
    background: $_commentLinkBg;
    border: 1px solid darken( $_commentLinkBg, 3% );
    border-radius: 3px;
    color: $_commentTextColor;
    display: inline-block;
    font-size: $_commentFontSizeSmall;
    line-height: 1;
    padding: 5px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-transition: .2s;
            transition: .2s;
}

.comment,
.comment-respond,
.comment-form {
    margin-top: $colMargin;
}

// -- Comment
#comments a {
    text-decoration: none;
}

// -- List > Comment
.comment-list > .comment {
    border-bottom: 1px solid $_commentColorDetail;
    padding-bottom: $colMargin;
}

// -- Body
.comment-body {
    color: $_commentTextColor;
    margin-left: $_commentImageSize + 25px;
    position: relative;

    img {
        border-radius: 100%;
        display: block;
        height: auto;
        width: $_commentImageSize;
    }

    .says {
        display: none;
    }

    .avatar {
        margin-right: 20px;
        position: absolute;
        right: 100%;
        top: 0;
    }

    .comment-metadata,
    .comment-content,
    .comment-content p,
    .reply {
        margin-top: 10px;
    }
}

.comment-metadata > a,
.comment-author a {
    color: inherit;
}

// -- Metadata
.comment-metadata {
    color: lighten( $_commentTextColor, 25% );
    font-size: $_commentFontSizeSmall;
    text-transform: uppercase;

    .edit-link {
        display: inline-block;
        margin-left: 10px;
    }
}

// -- Author
.comment-author {
    color: $_commentTitleColor;
    font-size: 16px;
    font-weight: bold;
}

// -- Content
.comment-content {
    font-size: 14px;
    line-height: 1.3;

    > *:first-child {
        margin-top: 0;
    }

    a {
        color: $_commentColorPrimary;
    }

    strong {
        font-weight: bold;
    }

    i,
    em {
        font-style: italic;
    }
}

// -- Moderation
.comment-awaiting-moderation {
    border-bottom: 1px solid $_commentColorDetail;
    border-top: 1px solid $_commentColorDetail;
    color: $_commentColorAlert;
    margin-top: 5px;
    padding: 10px 0;
}

// --  Logged In As
.comment-form .logged-in-as a:first-child {
    color: $_commentColorPrimary;
    font-size: 18px;
    font-weight: bold;
}


// ----------------------------------------------------------------------------
// -- Buttons
// ----------------------------------------------------------------------------
.comment-reply-link,
.comment-edit-link,
#cancel-comment-reply-link,
.comment-form .logged-in-as a:last-child {
    @extend %commentBtn;
}

// -- Reply Link
.comment-reply-link {

    &:before {
        @extend %icon;
        @extend .icon-forward:before;
        margin-right: 5px;
    }

    &:hover {
        background: lighten( $_commentLinkBg, 2% );
    }

    &:active {
        background: darken( $_commentLinkBg, 2% );
    }
}
// -- Edit Link & Logged In As
.comment-edit-link,
#cancel-comment-reply-link,
.comment-form .logged-in-as a:last-child {

    &:hover {
        background: $_commentColorAlert;
        border-color: darken( $_commentColorAlert, 8% );
        color: #fff;
    }

    &:active {
        background: darken( $_commentColorAlert, 8% );
    }
}

// ----------------------------------------------------------------------------
// -- Comment > Children
// ----------------------------------------------------------------------------
.comment .children img {
    -webkit-transform: scale( .7 );
        -ms-transform: scale( .7 );
            transform: scale( .7 );
}


// ----------------------------------------------------------------------------
// -- Comment > Form
// ----------------------------------------------------------------------------
.comment-form {

    .required {
        color: $colorError;
    }

    code,
    > p {
        margin-top: 10px;
    }

    code {
        display: block;
        padding: 10px;
    }

    > p:first-child {
        margin-top: 0;
    }
}