.entry-content {
	font-size: em($font-size-default);

	p,
	table,
	ul,
	ol,
	blockquote,
	form {
		margin-bottom: 30px;
	}

	p,
	ul,
	ol {
		line-height: 1.8;
	}

	code {
		background: #eee;
		padding: 2px 5px;
	}

	img {
		@extend %img;
	}

	.gallery {
		margin-bottom: 30px !important;

		img {
			margin: 0 auto;
		}
	}
}