.entry-content {
	font-size: em($font-size-default);

	p,
	table,
	ul,
	ol,
	blockquote,
	form {
		margin-bottom: 15px;
	}

	p,
	ul,
	ol {
		line-height: 1.8;
	}

	ul,
	ol {
		list-style-position: inside;

		ul,
		ol {
			margin-bottom: 0;
			margin-left: 20px;
		}
	}

	code {
		background: #eee;
		padding: 2px 5px;
	}

	img {
		@extend %img;
	}

	table {
		@extend %table;
	}

	.gallery {
		margin-bottom: 30px !important;

		img {
			margin: 0 auto;
		}
	}
}