.tabs ul {
	background: #fff;
	list-style: none;
}

.tabs-list,
.tabs-title,
.tabs-menu-item {
	padding: 10px;
}

.tabs-list,
.tabs-title,
.tabs-menu {
	border: 1px solid $color-detail;
}

.tabs-menu {
	box-shadow: 5px 5px 0 0 rgba(#000, .1);
	border-top: none;
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
}

.tabs-title {
	cursor: pointer;
	display: inline-block;
	font-size: em($font-size-default);
	margin-bottom: 0;
	position: relative;
	z-index: 1;
}

.tabs-menu-item {
	width: 200px;
}

.tabs-content {
	line-height: 1.4;
}

.tabs-header {
	position: relative;
	top: 1px;
}

.tabs-active {
	background: rgba($color-detail, .3);
}

// -- active tab
.tabs-menu-active {

	.tabs-title {
		border-bottom-color: #fff;
	}

	.tabs-menu {
		display: block;
	}
}

@media (min-width: $tablet) {

	.tabs-header {
		overflow: hidden;
	}

	.tabs-title {
		display: none;
	}

	.tabs-menu,
	.tabs-menu-item {
		float: left;
	}

	.tabs-menu {
		border: none;
		box-shadow: initial;
		display: inline-block;
		position: static;
	}

	.tabs-menu-item {
		border: 1px solid $color-detail;
		margin-left: -1px;
		width: auto;

		&:first-child {
			position: relative;
			margin-left: 0;

			&:before {
				background: $color-detail;
				bottom: -1px;
				content: "";
				height: 2px;
				left: -1px;
				position: absolute;
				width: 1px;
			}
		}
	}

	.tabs-active {
		background: #fff;
		border-bottom: none;
	}

	.tabs-list {
		clear: both;
	}
}