.the-content {
	color: $colorText;
	font-size: 16px;	

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		line-height: 1;
		margin-bottom: 10px;
	}

	h1 { font-size: em( 28px ); }
	h2 { font-size: em( 28px - 4 ); }
	h3 { font-size: em( 28px - 6 ); }
	h4 { font-size: em( 28px - 8 ); }
	h5 { font-size: em( 28px - 10 ); }
	h6 { font-size: em( 28px - 15 ); }

	p {
		line-height: 1.5;
		margin-bottom: 20px;
	}

	a {
		color: $colorPrimary;
		text-decoration: underline;
	}

	mark {
		color: inherit;
		background: $colorSecondary;
	}

	img {
		@extend %img;		
	}
}

// Table
// ----------------------------------------------------------------------------

.the-content table {
	width: 100%;

	thead tr {
		border-width: 2px;
	}

	td,
	th {
		padding: 15px 20px;
	}

	th {
		font-weight: bold;
	}

	tr {
		border-bottom: 1px solid $colorDetail;
	}
}

// Thumbnail
// ----------------------------------------------------------------------------

.the-content .thumbnail {
	display: inline-block;
	position: relative;

	a {
		display: block;
	}
	
	figcaption {
		background: #fff;
		bottom: 0;
		box-shadow: 2px -2px 0 0 rgba( #000, .1 );
		display: inline-block;
		font-size: 12px;
		left: 0;
		max-width: 95%;
		padding: 10px;
		position: absolute;
	}

	&.thumbnail-center {
		left: 50%;
		margin-bottom: 20px;
	}

	&.thumbnail-left {
		float: left;
		margin: 5px 20px 20px 0;
	}

	&.thumbnail-right {
		float: right;
		margin: 5px 0 20px 20px;
	}
}