@charset "UTF-8";
@font-face {
  font-family: false;
  src: url("assets/fonts/icomoon.eot");
  src: url("assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.woff") format("woff"), url("assets/fonts/icomoon.ttf") format("truetype"), url("assets/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

body {
  color: #555;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

a {
  color: false;
  text-decoration: none;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

.entry-content img {
  display: block;
  height: auto;
  max-width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: false;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
	** Hsl Bg Hover
	Ultilizado para escurecer ou clarear o background do elemento na
	ação hover

	---------------------------------------------------------------------------
	** Parametros
	- $color	= cor de sua preferência
	- $hsl		= opção escura (darken) ou a clara (lighten)
	- $perc		= porcentagem da variação da cor.
 */
/*
	** Transition
	Ultilizado para uma transição mais suave
 */
.alignleft {
  float: left;
  margin: 5px 30px 30px 0;
}

.alignright {
  float: right;
  margin: 5px 0 30px 30px;
}

.aligncenter,
.alignnone {
  clear: both;
  margin: 5px auto 30px;
}

table tr {
  border-bottom: 1px solid #efffcd;
}
table td,
table th {
  padding: 10px;
}
table th {
  font-weight: bold;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

blockquote {
  border-left: 3px solid #efffcd;
  padding-left: 20px;
}
blockquote cite {
  font-size: 0.75em;
}
blockquote cite:before {
  background: #efffcd;
  content: "";
  display: block;
  height: 1px;
  width: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.625em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.25em;
}

input, textarea, select {
  -webkit-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  transition: border-color 0.2s;
  border: 1px solid #eee;
  color: #555;
  font-family: false;
  padding: 5px;
  width: 100%;
}
input:focus, textarea:focus, select:focus, input:hover, textarea:hover, select:hover {
  border-color: #d5d5d5;
  outline: none;
}

.error-form {
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  background: #ff8877;
  border-radius: 3px;
  color: #fff;
  padding: 8px 5px 5px;
  position: relative;
  top: -3px;
}
@media (min-width: 768px) {
  .error-form {
    font-size: 0.75em;
    left: 0;
    margin-top: 10px;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
  }
  .error-form:before {
    border-color: transparent transparent #ff8877 transparent;
    border-style: solid;
    border-width: 5px;
    bottom: 100%;
    content: "";
    left: 10px;
    position: inherit;
  }
}

input[type="radio"], input[type="checkbox"], input[type="submit"] {
  height: auto;
  margin: 0;
  padding: initial;
  width: auto;
}

.field {
  position: relative;
}
.field:hover .error-form {
  opacity: 1;
  visibility: visible;
}

input {
  height: 35px;
  position: relative;
  z-index: 1;
}
.error input {
  border-color: #ff8877;
}
.error input:hover {
  border-color: #ff5b44;
}

textarea {
  display: block;
  height: 100px;
  overflow: hidden;
  resize: none;
}

select {
  background: #fff;
  height: 35px;
}

label {
  color: #555;
  display: inline-block;
  font-size: 0.875em;
  margin-bottom: 5px;
}

.btn {
  background: #f5f5f5;
  color: #555;
  display: inline-block;
  padding: 8px;
  -webkit-transition: .2s background;
  -ms-transition: .2s background;
  transition: .2s background;
  border-radius: 3px;
}
.btn.small {
  font-size: 0.75em;
  padding: 5px;
}
.btn.large {
  font-size: 1.125em;
  padding: 10px;
}
.btn.xlarge {
  font-size: 1.875em;
  padding: 15px;
}
.btn:hover {
  background: gainsboro;
}

.btn-primary,
.btn-secondary {
  color: #fff;
}

.btn-primary {
  background: #556270;
}
.btn-primary:hover {
  background: #3f4953;
}

.btn-secondary {
  background: #c7f464;
}
.btn-secondary:hover {
  background: #b6f134;
}

.btn-ghost, .btn-ghost-primary, .btn-ghost-secondary {
  background: none;
  border-style: solid;
  border-width: 1px;
}
.btn-ghost:hover, .btn-ghost-primary:hover, .btn-ghost-secondary:hover {
  background: none;
}

.btn-ghost {
  border-color: #555;
  color: #555;
}
.btn-ghost:hover {
  border-color: #3c3c3c;
  color: #3c3c3c;
}

.btn-ghost-primary {
  border-color: #556270;
  color: #556270;
}
.btn-ghost-primary:hover {
  border-color: #3f4953;
  color: #3f4953;
}

.btn-ghost-secondary {
  border-color: #c7f464;
  color: #c7f464;
}
.btn-ghost-secondary:hover {
  border-color: #b6f134;
  color: #b6f134;
}

.btn-disabled,
.btn-disabled:hover {
  background: #f1f1f1;
  color: #a2a2a2;
  cursor: default;
}

.entry-content {
  font-size: 1em;
}
.entry-content p,
.entry-content table,
.entry-content ul,
.entry-content ol,
.entry-content blockquote,
.entry-content form {
  margin-bottom: 30px;
}
.entry-content p,
.entry-content ul,
.entry-content ol {
  line-height: 1.8;
}
.entry-content code {
  background: #eee;
  padding: 2px 5px;
}
.entry-content .gallery {
  margin-bottom: 30px !important;
}
.entry-content .gallery img {
  margin: 0 auto;
}

.wp-caption {
  max-width: 100%;
  position: relative;
}
.wp-caption .wp-caption-text {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  line-height: 1;
  margin-bottom: 0;
  padding: 10px;
  position: absolute;
  right: 10px;
}

.tabs ul {
  background: #fff;
  list-style: none;
}

.tabs-list,
.tabs-title,
.tabs-menu-item {
  padding: 10px;
}

.tabs-list,
.tabs-title,
.tabs-menu {
  border: 1px solid #efffcd;
}

.tabs-menu {
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
  border-top: none;
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
}

.tabs-title {
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.tabs-menu-item {
  width: 200px;
}

.tabs-content {
  line-height: 1.4;
}

.tabs-header {
  position: relative;
  top: 1px;
}

.tabs-active {
  background: rgba(239, 255, 205, 0.3);
}

.tabs-menu-active .tabs-title {
  border-bottom-color: #fff;
}
.tabs-menu-active .tabs-menu {
  display: block;
}

@media (min-width: 768px) {
  .tabs-header {
    overflow: hidden;
  }

  .tabs-title {
    display: none;
  }

  .tabs-menu,
  .tabs-menu-item {
    float: left;
  }

  .tabs-menu {
    border: none;
    box-shadow: initial;
    display: inline-block;
    position: static;
  }

  .tabs-menu-item {
    border: 1px solid #efffcd;
    margin-left: -1px;
    width: auto;
  }
  .tabs-menu-item:first-child {
    position: relative;
    margin-left: 0;
  }
  .tabs-menu-item:first-child:before {
    background: #efffcd;
    bottom: -1px;
    content: "";
    height: 2px;
    left: -1px;
    position: absolute;
    width: 1px;
  }

  .tabs-active {
    background: #fff;
    border-bottom: none;
  }

  .tabs-list {
    clear: both;
  }
}
form > ul,
.entry-content form > ul {
  line-height: 1;
  list-style: none;
  margin-bottom: 0;
}
form > ul > li,
.entry-content form > ul > li {
  display: block;
  margin-top: 20px;
}
form > ul > li:first-child,
.entry-content form > ul > li:first-child {
  margin-top: 0;
}

.navigation a {
  display: block;
}
.navigation ul {
  list-style: none;
}
.navigation li {
  display: inline-block;
  position: relative;
}
.navigation li:hover > .sub-menu {
  display: block;
}
.navigation .sub-menu {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
}
.navigation .sub-menu a {
  width: 150px;
}
.navigation .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}
@media (max-width: 1170px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@font-face {
  font-family: "source_sans_prolight";
  src: url("ghost/assets/fonts/sourcesanspro-light-webfont.eot");
  src: url("ghost/assets/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("ghost/assets/fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("ghost/assets/fonts/sourcesanspro-light-webfont.woff") format("woff"), url("ghost/assets/fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("ghost/assets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss&plugins=jsonp-highlight */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #708090;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

#g-content {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 15px;
}
#g-content > * {
  margin-top: 50px;
}
#g-content > *:first-child {
  margin-top: 0;
}

.g-box-code {
  background: #f1f1f1;
  border-left: 3px solid #4ecdc4;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 10px 15px;
}
.g-box-code:last-child {
  margin-bottom: 0;
}
.g-box-code pre {
  font-size: 0;
}
.g-box-code code {
  font-size: 12px;
  left: -40px;
  position: relative;
}

.g-box-title,
.g-box-subtitle,
.g-box-info {
  font-family: "source_sans_prolight";
}

.g-box-title,
.g-box-subtitle {
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.g-box-title {
  position: relative;
}
.g-box-title:before {
  background: #eee;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
}
.g-box-title span {
  background: #fff;
  padding-right: 20px;
  position: relative;
  z-index: 1;
}

.g-box-info {
  margin-bottom: 20px;
}

.g-box-example {
  padding-bottom: 15px;
}
.g-box-example.many {
  margin-left: -2px;
}
.g-box-example.many > * {
  margin: 3px 2px;
}
.g-box-example.line > * {
  margin-top: 10px;
}
.g-box-example.line > *:first-child {
  margin-top: 0;
}
.g-box-example br {
  display: block;
  margin: 2px 0;
}
.g-box-example code {
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  color: #727272;
  font-size: 14px;
  padding: 2px 4px;
  white-space: nowrap;
}

.g-box-example > table {
  width: 100%;
}
.g-box-example > table thead tr {
  border-bottom-width: 3px;
  font-family: "source_sans_prolight";
}
.g-box-example > table thead tr:hover {
  background: none;
}
.g-box-example > table tr {
  -webkit-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
  border-color: #f1f1f1;
  color: #555;
  font-size: 14px;
}
.g-box-example > table tr:hover {
  background: rgba(241, 241, 241, 0.4);
}
.g-box-example > table td:first-child,
.g-box-example > table th:first-child {
  padding-left: 0;
  width: 180px;
}

.g-color {
  border-radius: 3px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  height: 20px;
  width: 40px;
}

.g-line-color.color-primary .g-color {
  background: #556270;
}
.g-line-color.color-primary .g-color-hex:before {
  content: "#556270";
}

.g-line-color.color-secondary .g-color {
  background: #c7f464;
}
.g-line-color.color-secondary .g-color-hex:before {
  content: "#c7f464";
}

.g-line-color.color-tertiary .g-color {
  background: #dce9be;
}
.g-line-color.color-tertiary .g-color-hex:before {
  content: "#dce9be";
}

.g-line-color.color-text .g-color {
  background: #555;
}
.g-line-color.color-text .g-color-hex:before {
  content: "#555";
}

.g-line-color.color-title .g-color {
  background: #556270;
}
.g-line-color.color-title .g-color-hex:before {
  content: "#556270";
}

.g-line-color.color-link {
  display: none;
}

.g-line-color.color-sucess {
  display: none;
}

.g-line-color.color-alert {
  display: none;
}

.g-line-color.color-error .g-color {
  background: #ff8877;
}
.g-line-color.color-error .g-color-hex:before {
  content: "#ff8877";
}

.g-line-color.color-detail .g-color {
  background: #efffcd;
}
.g-line-color.color-detail .g-color-hex:before {
  content: "#efffcd";
}

.g-line-color.color-detail .g-color {
  background: #efffcd;
}
.g-line-color.color-detail .g-color-hex:before {
  content: "#efffcd";
}

.g-line-color.color-disabled .g-color {
  background: #f1f1f1;
}
.g-line-color.color-disabled .g-color-hex:before {
  content: "#f1f1f1";
}

.g-line-grid.g-container .g-grid-size:before {
  content: "1170px";
}

.g-line-grid.g-desktop .g-grid-size:before {
  content: "1024px";
}

.g-line-grid.g-tablet .g-grid-size:before {
  content: "768px";
}

.g-line-grid.g-mobile .g-grid-size:before {
  content: "480px";
}

.g-line-grid.g-content {
  display: none;
}

.g-line-grid.g-sidebar {
  display: none;
}

.g-line-grid.g-col-margin .g-grid-size:before {
  content: "30px";
}

.g-line-grid.g-col-width .g-grid-size:before {
  content: "70px";
}

.g-line-grid.g-padding .g-grid-size:before {
  content: "10px";
}

.g-line-grid.g-border-r .g-grid-size:before {
  content: "5px";
}

/*# sourceMappingURL=ghost.css.map */
