<div class="gh-box gh-medium">
    <div class="pagination-wrap">
        <ul class="page-numbers">
            <li><span class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="#">2</a></li>
            <li><a class="page-numbers" href="#">3</a></li>
            <li><span class="page-numbers dots">…</span></li>
            <li><a class="page-numbers" href="#">26</a></li>
            <li><a class="next page-numbers" href="#">Próximo »</a></li>
        </ul>
    </div>           
</div>