// ----------------------------------------------------------------------------
// Font Icon
// ----------------------------------------------------------------------------
@font-face {
	font-family: $fontIcon;
	src: url("assets/fonts/icomoon.eot");
	src: url("assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"),
		 url("assets/fonts/icomoon.woff") format("woff"),
		 url("assets/fonts/icomoon.ttf") format("truetype"),
		 url("assets/fonts/icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	@extend %icon;
}
