%clearFix {
	&:after {
		clear: both;
		content: '';
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}
}

%ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%imageReplacement {
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}

%img {
	display: block;
	height: auto;
	max-width: 100%;
}

// -- icon
%icon {
	font-family: $fontIcon;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

// -- align center
%alignCenterV {
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);	
}

%alignCenterH {
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);	
}

%alignCenter {
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
			transform: translate3d(-50%, -50%, 0);	
}

// -- columns
%column {
	float: left;
	margin-left: perc($colMargin, $container);

	&:first-child {
		margin-left: 0;
	}
}