@mixin placeholder {
	::-webkit-input-placeholder { @content; }
	:-moz-placeholder 			{ @content; }
	::-moz-placeholder 			{ @content; }
	:-ms-input-placeholder 		{ @content; }
}

/*
	** Hsl Bg Hover
	Ultilizado para escurecer ou clarear o background do elemento na
	ação hover

	---------------------------------------------------------------------------
	** Parametros
	- $color	= cor de sua preferência
	- $hsl		= opção escura (darken) ou a clara (lighten)
	- $perc		= porcentagem da variação da cor.
 */
@mixin hsl-bg-hover($color, $hsl:darken, $perc:$color-hsl-perc) {
	@if $color-hsl == $hsl {
		background: darken($color, $perc);
	} @else {
		background: lighten($color, $perc);
	}
}


/*
	** Transition
	Ultilizado para uma transição mais suave
 */
@mixin transition($property:all, $time:.2s){
	-webkit-transition: $property $time;
		-ms-transition: $property $time;
			transition: $property $time;
}