// Grid
// ----------------------------------------------------------------------------

$container 			: 1170px;
$mobile 			: 480px;
$tablet 			: 768px;
$desktop 			: 1024px;
$colWidth 			: 70px;
$colMargin 			: 30px;


// Colors
// ----------------------------------------------------------------------------

$colorPrimary		: #3b8686;
$colorSecondary		: #226262;
$colorTertiary		: #3e9684;
$colorTitle 		: #2b2b2b;
$colorText 			: #797979;
$colorDetail		: #c4c4c4;
$colorAlert			: #ff9d27;
$colorError			: #ff5656;
$colorSuccess		: #48ab54;
$colorDisabled		: #eee;


// Fonts
// ----------------------------------------------------------------------------

$fontPrimary		: "Times New Roman", sans-serif;
$fontPrimaryBold	: Tahoma, sans-serif;
$fontSecondary		: Arial, sans-serif;
$fontSecondaryBold	: Arial, sans-serif;
$fontIcon 			: "icomoon";


// Font size
// ----------------------------------------------------------------------------

$fontSizeDefault 	: 16px;