// Grid
// ----------------------------------------------------------------------------
$desktop			: 1024px;
$tablet				: 768px;
$mobile				: 480px;
$container			: 1170px;
$content			: false;
$sidebar			: false;
$col-margin			: 30px;
$col-width			: 70px;
$padding			: 10px;
$border-r			: 5px;


// Colors
// ----------------------------------------------------------------------------
$color-primary 		: #556270;
$color-secondary	: #C7F464;
$color-tertiary		: #dce9be;
$color-text			: #555;
$color-title		: #000;
$color-link			: #000;
$color-sucess		: #000;
$color-alert		: #000;
$color-error		: #000;
$color-detail		: #efffcd;
$color-disabled		: #f1f1f1;
$color-hsl			: darken;	// darken, lighten
$color-hsl-perc 	: 10%;		// percentage


// Font Family
// ----------------------------------------------------------------------------
$font-primary		: false;
$font-primary-bold 	: false;
$font-secondary		: false;
$font-secondary-bold: false;
$font-tertiary		: false;
$font-tertiary-bold	: false;
$font-icon			: false;


// Font Size
// ----------------------------------------------------------------------------
$font-size-default	: 16px;
$font-size-small	: 12px;
$font-size-medium	: 14px;
$font-size-large	: 18px;
$font-size-x-large	: 30px;


// Form
// ----------------------------------------------------------------------------
$form-input-height	: 35px;
$form-input-radius	: false;
$form-input-padding	: 5px;