// -- FONTS
$g-font-primary     	: "Roboto", sans-serif;


// -- COLORS
$g-color-primary		: #ff6f69;
$g-color-secondary 		: #ffcc5c;
$g-color-tertiary 		: #96ceb4;
$g-color-line 			: #e5e5e5;
$g-color-text 			: #737373;


// -- GRID
$g-container 			: 1180px;
