blockquote {
	border-left: 3px solid $colorDetail;
	padding-left: 20px;

	cite {
		font-size: em($fontSizeSmall);

		&:before {
			background: $colorDetail;
			content: "";
			display: block;
			height: 1px;
			width: 5%;
		}
	}
}