blockquote {
	border-left: 3px solid $color-detail;
	padding-left: 20px;

	cite {
		font-size: em($font-size-small);

		&:before {
			background: $color-detail;
			content: "";
			display: block;
			height: 1px;
			width: 5%;
		}
	}
}