.gh-title {
	border-bottom: 1px solid $g-color-line;
	color: $g-color-text;
	font: 700 14px $g-font-primary;
	margin-bottom: 15px;
	padding-bottom: 15px;

	&.gh-title-component {
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
}
