h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 20px;
}

$hi : 6;
$hx : 0;

@for $hi from 1 through 6 {

	h#{$hi} {
		font-size: em($fontSizeXLarge - $hx);
	}

	$hi: $hi - 1;
	$hx: $hx + 2;
}