@keyframes loading {
	from {
		transform: rotate( 0deg );
		-webkit-transform: rotate( 0deg );
	}	

	to {
		transform: rotate( 360deg );
		-webkit-transform: rotate( 360deg );
	}
}

@-webkit-keyframes loading {
	from {
		transform: rotate( 0deg );
		-webkit-transform: rotate( 0deg );
	}	

	to {
		transform: rotate( 360deg );
		-webkit-transform: rotate( 360deg );
	}
}

.loading {
	color: #666;
	font-weight: bold;
	text-align: center;

	i {
		animation: loading .4s linear infinite;
		-webkit-animation: loading .4s linear infinite;
		display: inline-block;
		color: $colorPrimary;
		margin: 0 10px;
	}
}