.message-info,
.message-info-line {
	font-size: em($font-size-medium, $font-size-default);

	.entry-content & p {
		line-height: 1;
		margin-bottom: 0;
	}
}

.message-info {
	background: #f8f8f8;
	padding: 8px;
	border-radius: $border-r;

	&.alert,
	&.error,
	&.sucess {
		color: #fff;
	}

	&.alert {
		background: $color-alert;
	}

	&.error {
		background: $color-error;
	}

	&.sucess {
		background: $color-sucess;
	}
}

.message-info-line {

	&.alert strong {
		color: $color-alert;
	}

	&.error strong {
		color: $color-error;
	}

	&.sucess strong {
		color: $color-sucess;
	}
}