%table {
	font-size: em($font-size-default);
	width: 100%;

	tr {
		border-bottom: 1px solid $color-detail;
	}

	td,
	th {
		padding: 15px 10px;
	}

	th {
		font-size: em($font-size-large, $font-size-default);
		font-weight: bold;
	}

	p {
		line-height: 1;

		&:last-child {
			margin-bottom: 0;
		}
	}
}