.navigation {
	background: red;

	li {
		position: relative;
	}
}

.navigation .menu > li {
	display: inline-block;

	&:hover .sub-menu {
		left: 0;
		opacity: 1;
	}
}

// sub-menu
.navigation .sub-menu {
	left: -999em;
	position: absolute;
	top: 100%;

	.sub-menu {
		transition: opacity .2s;
		left: 100%;
		opacity: 1;
		top: 0;
	}
}