// ----------------------------------------------------------------------------
// Variables > Hamburger
// ----------------------------------------------------------------------------
$_hBg 		: $colorPrimary; // falsew
$_hLinesBg 	: #fff;

// -- Line
@keyframes line {

	0% {
		opacity: 1;
	}

	100% {
		left: -10px;
		opacity: 0;
	}
}

@-webkit-keyframes line {

	0% {
		opacity: 1;
	}

	100% {
		left: -10px;
		opacity: 0;
	}
}

// -- lineOne
@keyframes lineOne {

	100% {
		margin-top: 0;
		top: 20px;
		transform: rotate(-45deg);
	}
}

@-webkit-keyframes lineOne {

	100% {
		margin-top: 0;
		top: 20px;
		-webkit-transform: rotate(-45deg);
	}
}

// -- LineTwo
@keyframes lineTwo {

	100% {
		margin-top: 0;
		top: 20px;
		transform: rotate(45deg);
	}
}

@-webkit-keyframes lineTwo {

	100% {
		margin-top: 0;
		top: 20px;
		-webkit-transform: rotate(45deg);
	}
}

.btn-hamburger {
	border: none;
	cursor: pointer;
	height: 40px;
	padding: 0;
	position: relative;
	width: 40px;

	@if($_hBg){
		background: $colorPrimary;
	}

	&:before,
	&:after {
		content: "";
	}

	&:before,
	&:after,
	.line {
		background: $_hLinesBg;
		border-radius: 3px;
		height: 4px;
		left: 50%;
		margin-left: -13px;
		position: absolute;
		top: 50%;
		width: 26px;
	}

	&:before {
		margin-top: -8px;
	}

	&:after {
		margin-top: 8px;
	}

	.active-menu & {

		&:before {
			-webkit-animation: lineOne .2s .2s forwards;
					animation: lineOne .2s .2s forwards;
		}

		&:after {
			-webkit-animation: lineTwo .2s .2s forwards;
					animation: lineTwo .2s .2s forwards;
		}

		.line {
			-webkit-animation: line .2s forwards;
					animation: line .2s forwards;
		}
	}
}