// Mixin para inserir colunas, passando como argumento o número de colunas desejado.
@mixin columns($col: $columns of $grid-container, $display: default) {
	$columns			: nth($col, 1);
	$grid-container		: container_col($col);
	$direction			: get_direction($layout-direction);
	$opposite-direction 	: get_opposite_direction($layout-direction);

	float: #{$direction};
	min-height: 1px;

	@if $display == collapse {
		width: flexible_grid($columns, $grid-container) + flexible_gutter($grid-container);
	}@else {
		margin-#{$opposite-direction}: flexible_gutter($grid-container);
		width: flexible_grid($columns, $grid-container);

		&:last-child{ margin-#{$opposite-direction}: 0; }
	}
}