// Variables
// -------------------------------------------------------
$one-column-width		: $col-width;
$column-gutter			: $col-margin;
$grid-number			: $grid-columns;

// Functions
// Related to grid system
// -------------------------------------------------------
@function container_col($col: $col) {
	@if length($col) == 3 {
		$grid-container : nth($col, 3);
		@return $grid-container;
	}@else if length($col) == 2 {
		$grid-container : nth($col, 2);
		@return $grid-container;
	}

	@return $grid-columns;
}
	
@function flexible_grid($columns, $n-grid: $grid-number) {
	$column-width : $columns * $one-column-width + (($columns - 1) * $column-gutter);
	$container-width : $n-grid * $one-column-width + (($n-grid - 1) * $column-gutter)	;

	@return perc($column-width, $container-width);
}

@function flexible_gutter($n-grid: $grid-number, $column-gutter: $column-gutter) {
	$container-width : $n-grid * $one-column-width + ($n-grid - 1) * $column-gutter;

	@return perc($column-gutter, $container-width);
}