// Variables
// -------------------------------------------------------
$oneColumnWidth		: $colWidth;
$columnGutter		: $colMargin;
$gridNumber			: $gridColumns;

// Functions
// Related to grid system
// -------------------------------------------------------
@function container_col($gridContainer : $col) {
	@if length($gridContainer) == 3 {
		$gridContainer : nth($gridContainer, 3);
		@return $gridContainer;
	}@else if length($gridContainer) == 2 {
		$gridContainer : nth($gridContainer, 2);
		@return $gridContainer;
	}

	@return $gridColumns;
}
	
@function flexible_grid($columns, $nGrid: $gridNumber) {
	$columnWidth : $columns * $oneColumnWidth + (($columns - 1) * $columnGutter);
	$containerWidth : $nGrid * $oneColumnWidth + (($nGrid - 1) * $columnGutter)	;

	@return perc($columnWidth, $containerWidth);
}

@function flexible_gutter($nGrid: $gridNumber, $columnGutter: $columnGutter) {
	$containerWidth : $nGrid * $oneColumnWidth + ($nGrid - 1) * $columnGutter;

	@return perc($columnGutter, $containerWidth);
}
