.icon-ghost-display:before {
  content: "\e900";
}
.icon-ghost-mobile:before {
  content: "\e901";
}
.icon-ghost-tablet:before {
  content: "\e902";
}
.icon-ghost-enlarge2:before {
  content: "\e903";
}
.icon-ghost-cross:before {
  content: "\e908";
}
.icon-ghost-checkmark:before {
  content: "\e909";
}
.icon-ghost-info:before {
  content: "\e904";
}
.icon-ghost-next:before {
  content: "\e905";
}
.icon-ghost-github:before {
  content: "\e906";
}