.btn-share {
	display: inline-block;

	i {
		display: inline-block;
		min-width: 34px;
		text-align: center;
	}

	span {
		padding-right: 15px;
	}

	.btn {
		padding: 9px 0;
		max-height: 34px;
	}
}

.count-share {
	border: 1px solid $colorDetail;
	border-radius: 5px;
	display: inline-block;
	line-height: 32px;
	min-height: 34px;
	padding: 0 15px;
	vertical-align: top;
}

// share
.btn-share-facebook { background: #3d57a2; }
.btn-share-twitter  { background: #55ACEE; }
.btn-share-plus  	{ background: #DD4B39; }