.gh-btn-hamburger {
	@extend %reset-button;
	cursor: pointer;
	height: 25px;
	position: relative;
	width: 25px;

	.gh-line,
	.gh-line::before,
	.gh-line::after {
		background: $g-color-primary;
		border-radius: 4px;
		content: "";
		height: 4px;
		display: block;
		position: absolute;
		transition: .3s background;
		width: inherit;
	}

	.gh-line {
		left: 50%;
		top: 50%;
		transform: translate( -50%, -50% );
	}

	.gh-line::before {
		top: -8px;
	}

	.gh-line::after {
		bottom: -8px;
	}
}
