.icon-newspaper:before {
	content: "\e904";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-image:before {
	content: "\e90d";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-music:before {
	content: "\e911";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-files-empty:before {
	content: "\e925";
}

.icon-file-text:before {
	content: "\e926";
}

.icon-folder:before {
	content: "\e92f";
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-cart:before {
	content: "\e93a";
}

.icon-credit-card:before {
	content: "\e93f";
}

.icon-phone:before {
	content: "\e942";
}

.icon-location:before {
	content: "\e948";
}

.icon-map:before {
	content: "\e94c";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-printer:before {
	content: "\e954";
}

.icon-bubbles:before {
	content: "\e96d";
}

.icon-user:before {
	content: "\e971";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-spinner:before {
	content: "\e981";
}

.icon-search:before {
	content: "\e986";
}

.icon-key:before {
	content: "\e98d";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-cog:before {
	content: "\e994";
}

.icon-trophy:before {
	content: "\e99e";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-clipboard:before {
	content: "\e9b8";
}

.icon-download:before {
	content: "\e9c7";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-attachment:before {
	content: "\e9cd";
}

.icon-bookmark:before {
	content: "\e9d2";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-half:before {
	content: "\e9d8";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-heart:before {
	content: "\e9da";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-embed:before {
	content: "\ea80";
}

.icon-google-plus:before {
	content: "\ea89";
}

.icon-facebook:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea92";
}

.icon-feed:before {
	content: "\ea95";
}

.icon-vimeo:before {
	content: "\ea9d";
}

.icon-flickr:before {
	content: "\eaa2";
}

.icon-github:before {
	content: "\eab1";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-forward:before {
	content: "\e969";
}

.icon-reply:before {
	content: "\e96a";
}

.icon-google-plus-s:before {
	content: "\ea88";
}

.icon-facebook-s:before {
	content: "\ea8c";
}

.icon-twitter-s:before {
	content: "\ea91";
}

.icon-vimeo-s:before {
	content: "\ea9c";
}

.icon-linkedin-s:before {
	content: "\eac9";
}