// ----------------------------------------------------------------------------
// Variables > Container
// ----------------------------------------------------------------------------
$_containerMargin : 15px;

.container {
	@extend %clearFix;
	margin-left: $_containerMargin;
	margin-right: $_containerMargin;
	max-width: $container;

	@media ( min-width: $container + ( $_containerMargin * 2 ) ) {
		margin-left: auto;
		margin-right: auto;
	}
}

// ----------------------------------------------------------------------------
// Wrapper Content
// ----------------------------------------------------------------------------
#wrapper-content {
	@extend %clearFix;
}
