// ----------------------------------------------------------------------------
// Mixin > Col
// ----------------------------------------------------------------------------
@mixin col($col) {
	width: perc(($colWidth * $col) + (($col - 1) * $colMargin), $container);
}

@media ( min-width: $mobile ) {

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	[class*="-column"],
	.column,
	.columns {
		float: left;
		margin-left: perc($colMargin, $container);

		&:first-child {
			margin-left: 0;
		}
	}

	.one.column,
	.one.columns    { @include col(1); }
	.two.columns    { @include col(2); }
	.three.columns  { @include col(3); }
	.four.columns   { @include col(4); }
	.five.columns   { @include col(5); }
	.six.columns    { @include col(6); }
	.seven.columns  { @include col(7); }
	.eight.columns  { @include col(8); }
	.nine.columns   { @include col(9); }
	.ten.columns    { @include col(10); }
	.eleven.columns { @include col(11); }
	.twelve.columns { @include col(12); margin-left: 0; }
}
