#calendar_wrap {
    background: $colorDetail;
    font-size: 13px;
    border-bottom: 2px solid darken($colorDetail, 5%);
    padding: 15px;
}

#wp-calendar {
    position: relative;
    width: 100%;

    caption {
        background: inherit;
        font-size: 14px;
        padding: 10px 0 15px;
        text-align: right;
    }

    caption,
    th {
        font-weight: bold;
    }

    th,
    td {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    thead {
        color: $colorPrimary;
    }

    tbody a {
        background: $colorPrimary;
        color: #fff;
        display: block;
    }

    tfoot {
        border-radius: 3px;
        font-size: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;

        td {
            height: auto;
            line-height: normal;
            width: auto;
        }

        a {
            background: #FFF;
            display: inline-block;
            height: 25px;
            position: relative;
            width: 25px;
        }
    }

    #prev a:before,
    #next a:before {
        border-style: solid;
        border-width: 5px;
        content: "";
        margin-top: -5px;
        position: absolute;
        top: 50%;
    }

    #prev {
        padding-right: 1px;
    }

    #prev a:before {
        border-color: transparent $colorDetail transparent transparent;
        left: 50%;
        margin-left: -8px;
    }

    #next a:before {
        border-color: transparent transparent transparent $colorDetail;
        margin-right: -8px;
        right: 50%;
    }
}