$_sliderShadow : true; // booleano

@if $_sliderShadow != false {
	.slider-wrapper .bx-viewport:before {
		bottom: -1px;
		box-shadow: 0 0 30px 2px #000;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 2;
	}
}

.slider-wrapper {

	img {
		@extend %img;
	}

	a {
		display: block;
	}

	.slider {
		height: inherit;
	}

	.bx-wrapper {
		position: relative;
	}
}

// Pager
// ----------------------------------------------------------------------------

.slider-wrapper .bx-pager,
.slider-wrapper .bx-controls-direction {
	position: absolute;
	z-index: 3;
}

.slider-wrapper .bx-pager {
	bottom: 10px;
	font-size: 0;
	text-align: center;
	width: 100%;
}

.slider-wrapper .bx-pager-item {
	display: inline-block;
	margin: 0 5px;
}

.slider-wrapper .bx-pager-link {
	background: #fff;
	border-radius: 5px;
	display: block;
	height: 8px;
	width: 8px;
	-webkit-transition: .2s;
			transition: .2s;

	&.active {
		background: $colorPrimary;
	}
}

// -- Controls direction
.bx-controls-direction {
	top: 50%;
	width: 100%;
}

.bx-prev,
.bx-next {
	color: $colorPrimary;
	cursor: pointer;
	font-size: 0;
	position: absolute;
	text-decoration: none;
	-webkit-transform: translateY( -50% );
		transform: translateY( -50% );

	&:before {
		@extend %icon;
		font-size: 30px;
	}
}

.bx-prev {
	left: 20px;

	&:before {
		@extend .icon-circle-left;
	}
}

.bx-next {
	right: 20px;

	&:before {
		@extend .icon-circle-right;
	}
}

// -- no js
.slider-wrapper > .slider > li {
	display: none;

	&:first-child {
		display: block;
	}
}
