.widget {
    color: $colorText;

    a {
        color: $colorPrimary;
        text-decoration: none;
    }

    li {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.widget-title {
    border-bottom: 1px solid $colorDetail;
    color: $colorTitle;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
}