// BASE
// Configurações basicas do projeto
// ----------------------------------------------------------------------------

@import "base/variables";
@import "base/functions";
@import "base/helpers";
@import "base/mixins";
@import "base/reset";




// ELEMENTS
// Classes individuais e elementos pequenos e reutilizáveis
// ----------------------------------------------------------------------------

// -- Buttons
@import "elements/buttons/btn";
@import "elements/buttons/btnGroup";
@import "elements/buttons/btnSecondary";
@import "elements/buttons/btnShare";

// -- Forms
@import "elements/forms/input";
@import "elements/forms/select";
@import "elements/forms/selectChosen";
@import "elements/forms/submit";
@import "elements/forms/textarea";

// -- Images
@import "elements/images/icons";

// -- Text
@import "elements/text/blockquote";
@import "elements/text/loading";
@import "elements/text/messages";
@import "elements/text/tooltip";




// COMPONENTS
// Criar um elemento 'pai' para modificar os elements
// ----------------------------------------------------------------------------

// -- Js
@import "components/js/slider";

// -- Navigation
@import "components/navigation/breadcrumb";
@import "components/navigation/navigation";
@import "components/navigation/pagination";

// -- Text
@import "components/text/theContent";




// TEMPLATES
// Estruturas maiores do projeto, que podem modificar element e components
// ----------------------------------------------------------------------------
@import "templates/list";





@import url(http://fonts.googleapis.com/css?family=Droid+Sans);


$g-font : 'Droid Sans', sans-serif;


body {
	font-family: $g-font;
}

#g-navigation,
.g-container {
	bottom: 0;
	position: absolute;
	top: 0;
}

#g-navigation {
	background: #007674;
	left: 0;
	position: fixed;
	width: 100px;
}

.g-container {
	background: #fff;
	left: 100px;
	right: 0;

	hr {
		border: none;
		border-top: 1px solid #f6f6f6;
		margin: 30px 0;
	}
}

#g-header {
	background: #f6f6f6;
	height: 100px;
	margin-bottom: 100px;
}

.g-content {
	margin: 0 auto;
	width: 60%;
}

.g-box-title {
	color: #2b2b2b2;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}

.g-box-info,
.g-box-example {
	margin-bottom: 30px;
}

.g-box-info {
	color: #565656;
	font-size: 18px;
	line-height: 1.4;
}

.g-box-code {
	background: #f1f1f1;
	margin-bottom: 100px;
	padding: 50px 0;

	&:last-child {
		margin-bottom: 0;
	}
}