.left-half,
.right-half,
.left-third,
.middle-third,
.right-third {
	float: left;
}


// Half
// ----------------------------------------------------------------------------
.left-half,
.left-third {
	clear: left;
}

.right-half,
.right-third {
	clear: right;
}

.left-half,
.right-half {
	width: 50%;
}

.left-half {
	padding-right: 10px;
}

.right-half {
	margin-top: 0;
	padding-left: 10px;
}


// Third
// ----------------------------------------------------------------------------
.left-third,
.middle-third,
.right-third {
	width: 33.33%;
}

.middle-third {
	clear: none;
	padding: 0 7px;
}

.left-third {
	padding-right: 13px;
}

.right-third {
	padding-left: 13px;
}


// Full mobile
// ----------------------------------------------------------------------------
@media (max-width: $mobile) {

	.field-full-mobile {
		clear: both;
		padding: 0;
		width: 100%;
	}
}


// List col
// ----------------------------------------------------------------------------
.list-col-two li,
.list-col-three li,
.list-col-four li {
	float: left;
	padding-right: 20px;

	&:nth-last-child(-n+2),
	&:nth-last-child(-n+3),
	&:nth-last-child(-n+4) {
		margin-bottom: 0;
	}
}

.list-col-two li {
	width: 50%;
}

.list-col-three li {
	width: 33.3%;
}

.list-col-four li {
	width: 25%;
}


// List col
// ----------------------------------------------------------------------------
.list-inline {

	ul {
		margin: 0 0 0 -10px;
	}

	li {
		display: inline-block;
		margin: 3px 10px;
	}
}