%form-error {
	background: $color-error;
	border-radius: 3px;
	color: #fff;
	padding: 8px 5px 5px;
	position: relative;
	top: -3px;

	@media (min-width: $tablet) {
		@include transform(translateY(-10px));
		left: 0;
		opacity: 0;
		position: absolute;
		top: 100%;
		visibility: hidden;
		-webkit-transition: opacity .2s, transform .2s;
			-ms-transition: opacity .2s, transform .2s;
				transition: opacity .2s, transform .2s;

		&:before {
			border-color: transparent transparent $color-error transparent;
			border-style: solid;
			border-width: 5px;
			bottom: 100%;
			content: "";
			left: 10px;
			position: inherit;
		}

		.#{$form-field-class}:hover & {
			@include transform(translateY(0));
			opacity: 1;
			visibility: visible
		}
	}
}

.#{$form-field-class-error-text} {
	@extend %form-error;
}