%styleForm {
	border: 1px solid $color-detail;
	color: $color-text;
	font-family: $font-primary;
	padding: $form-input-padding;
	width: 100%;

	@if $form-input-radius != false {
		border-radius: $form-input-radius;
	}
}

%clearStyleForm {
	height: auto;
	margin: 0;
	padding: initial;
	width: auto;
}

input {
	@extend %styleForm;
	height: $form-input-height;
}