// Placehold
// ----------------------------------------------------------------------------
%form-style-clear {
	height: auto;
	margin: 0;
	padding: initial;
	width: auto;
}

%form-style {
	@include transition(border-color);
	border: 1px solid #c5c5c5;
	color: $color-text;
	font-family: $font-primary;
	padding: $form-input-padding;
	width: 100%;

	&:focus,
	&:hover {
		border-color: darken(#c5c5c5, $color-hsl-perc);
		outline: none;
	}

	@if $form-input-radius != false {
		border-radius: $form-input-radius;
	}
}

input {
	@extend %form-style;
	height: $form-input-height;
	position: relative;
	z-index: 1;

	.#{$form-field-class-error} & {
		border-color: $color-error;

		&:hover {
			border-color: darken($color-error, $color-hsl-perc);
		}
	}
}