.container {
	@extend %clearFix;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	max-width: $container;

	@media ( min-width: $container ) {
		padding-left: 0;
		padding-right: 0;
	}
}
