#gh-header {
	background: #f4f4f4;
	border-bottom: 1px solid $g-color-line;
	height: 70px;

	.gh-menu {
		display: none;
	}

	@media ( min-width: 978px ) {
		.gh-btn-hamburger {
			display: none;
		}

		.gh-menu {
			display: block;
		}

		.gh-col {
			flex: 1;
		}

		.middle {
			flex: initial;
		}

		.right {
			text-align: right;
		}
	}
}

.gh-header-container {
	align-items: center;
	display: flex;
	height: inherit;	
	justify-content: space-between;
}

.gh-header-buttons {
	font-size: 22px;
	text-align: right;

	a {
		color: #000;
	}
}