<div class="gh-box">    
    <ul class="gh-list">
        <li>
            <input type="text" placeholder="Input text">
        </li>

        <li class="field-error">
            <input type="text" placeholder="Input text error">
            
            <div class="field-error-text">
                Número de telefone incorreto
            </div>
        </li>

        <li class="field-success">
            <input type="text" placeholder="Input text sucess">
        </li>

        <li>
            <select name="" id="">
                <option value="primary">primary</option>
                <option value="secondary">secondary</option>
                <option value="tertiary">tertiary</option>
            </select>
        </li>

        <li>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </li>
    </ul>
</div>