<div class="gh-box gh-medium the-content">
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>
            A, voluptatibus repellat maiores ab, explicabo odio vel!
            <ul>
                <li>Facilis fugit, fuga!</li>
                <li>Excepturi, doloribus optio.</li>
                <li>Quidem accusamus, quia.</li>
            </ul>                            
        </li>
        <li>Libero facere inventore esse cupiditate, accusamus tenetur officia.</li>
        <li>Facere dolore pariatur minima illo nisi, assumenda quod.</li>                        
    </ul>

    <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>
            A, voluptatibus repellat maiores ab, explicabo odio vel!
            <ol>
                <li>Facilis fugit, fuga!</li>
                <li>Excepturi, doloribus optio.</li>
                <li>Quidem accusamus, quia.</li>
            </ol>                            
        </li>
        <li>Libero facere inventore esse cupiditate, accusamus tenetur officia.</li>
        <li>Facere dolore pariatur minima illo nisi, assumenda quod.</li>                        
    </ol>
</div>