.navigation {

	a {
		display: block;
	}

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > .sub-menu {
			display: block;
		}
	}

	.sub-menu {
		display: none;
		left: 0;
		position: absolute;
		top: 100%;

		a {
			width: 150px;
		}
	}

	.sub-menu .sub-menu {
		left: 100%;
		top: 0;
	}
}