<h2 class="gh-title">
	COLORS
</h2>

<div class="gh-color-list">
	{{#each this}}
	<div class="gh-color">
	    <div class="gh-label">{{@key}}</div>

	    <ul>
			{{#each this}}
			<li>
				<div class="gh-color-background" style="background: {{this}}"></div>

				<div class="gh-color-info">
					<div class="gh-color-hex">
						{{this}}
					</div>
					
					<div class="gh-color-name">
						{{@key}}
					</div>
				</div>
			</li>
			{{/each}}
	    </ul>
	</div>
	{{/each}}
</div>