{{#each this}}
<li class="g-{{this}}">
    <button class="btn-grid btn-{{@key}}">
    	<strong>{{@key}} <span>{{@this}}</span></strong>    	
    </button>
</li>
{{/each}}
<li>
	<button class="btn-grid btn-grid-ghost active">
		<strong>Ghost <span></span></strong>
	</button>
</li>