<ul>
    {{#each icons}}
    <li>
    	<i class="{{@root.preferences.fontPref.prefix}}{{properties.name}}" data-action="info" data-element="icon" data-name="{{@root.preferences.fontPref.prefix}}{{properties.name}}"></i>    	
    </li>
	{{/each}}
</ul>