@import "../assets/stylesheets/style.scss";


// Variables
// ----------------------------------------------------------------------------
$g-color-detail		: #f1f1f1;
$g-color-primary	: #4ecdc4;

$g-font-primary		: "source_sans_prolight";

// Fonts
// ----------------------------------------------------------------------------
@font-face {
    font-family: $g-font-primary;
    src: url("ghost/assets/fonts/sourcesanspro-light-webfont.eot");
    src: url("ghost/assets/fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("ghost/assets/fonts/sourcesanspro-light-webfont.woff2") format("woff2"),
         url("ghost/assets/fonts/sourcesanspro-light-webfont.woff") format("woff"),
         url("ghost/assets/fonts/sourcesanspro-light-webfont.ttf") format("truetype"),
         url("ghost/assets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
    font-weight: normal;
    font-style: normal;
}


// Highlight
// ----------------------------------------------------------------------------
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+scss&plugins=jsonp-highlight */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 1;
	-o-tab-size: 1;
	tab-size: 1;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #708090;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


// Basic
// ----------------------------------------------------------------------------
#g-content {
	margin: 0 auto;
	max-width: 700px;
	padding: 0 15px;
}


// Box
// ----------------------------------------------------------------------------
.g-box-code {
	background: $g-color-detail;
	border-left: 3px solid $g-color-primary;
	border-radius: 3px;
	margin-bottom: 30px;
	padding: 10px 15px;

	&:last-child {
		margin-bottom: 0;
	}

	pre {
		font-size: 0;
	}

	code {
		font-size: 12px;
		left: -40px;
		position: relative;
	}
}

.g-box-title,
.g-box-subtitle,
.g-box-info {
	font-family: $g-font-primary;
}

.g-box-title,
.g-box-subtitle {
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.g-box-title {
	position: relative;

	&:before {
		background: #eee;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		right: 0;
		top: 50%;
	}

	span {
		background: #fff;
		padding-right: 20px;
		position: relative;
		z-index: 1;
	}
}

.g-box-info {
	margin-bottom: 20px;
}

// -- box example
.g-box-example {
	padding-bottom: 15px;

	&.many {
		margin-left: -2px;

		> * {
			margin: 3px 2px;
		}
	}

	&.line > * {
		margin-top: 5px;

		&:first-child {
			margin-top: 0;
		}
	}

	br {
		display: block;
		margin: 2px 0;
	}
}

.g-box-example > table {
	width: 100%;

	thead tr {
		border-bottom-width: 3px;
		font-family: $g-font-primary;
	}

	tr {
		border-color: $g-color-detail;
	}

	td:first-child,
	th:first-child {
		padding-left: 0;
		width: 180px;
	}
}