// ----------------------------------------------------------------------------
// Settings > Colors
// ----------------------------------------------------------------------------
$colorPrimary		: #ff0033;
$colorSecondary		: #13131E;
$colorTertiary		: false;
$colorTitle 		: #2b2b2b;
$colorText 			: #797979;
$colorDetail		: #eee;
$colorAlert			: #ff9d27;
$colorError			: #ff5656;
$colorSuccess		: #48ab54;
$colorDisabled		: false;