// ----------------------------------------------------------------------------
// Settings > Fonts
// ----------------------------------------------------------------------------
$fontPrimary		: arial, sans-serif;
$fontPrimaryBold	: false;
$fontSecondary		: false;
$fontSecondaryBold	: false;
$fontIcon 			: "icomoon";

// ----------------------------------------------------------------------------
// Settings > Font Size
// ----------------------------------------------------------------------------
$fontSizeDefault 	: 16px;
$fontSizeSmall 	    : 12px;
$fontSizeMedium 	: 14px;
$fontSizeLarge 	    : 18px;
$fontSizeXLarge	    : 24px;