<div class="essetial-box">
    <div class="screenshot">
        <strong>Screenshot</strong>
        <img src="../screenshot.png" alt="" />
    </div>

    <div class="branding">
        <strong>Branding</strong>
        <img src="../assets/images/branding.png" alt="" />
    </div>

    <div class="favicon">
        <strong>Favicon</strong>
        <img src="../assets/images/favicon.ico" alt="" />
    </div>

    <div class="favicon-apple">
        <strong>Favicon Apple</strong>
        <img src="../assets/images/favicon-apple.png" alt="" />
    </div>
</div>