<div class="btn-group g-content">
    <a href="index.html" class="btn">Home</a>
    <a href="elements.html" class="btn">Elements</a>
    <a href="components.html" class="btn">Components</a>
</div>

<a href="#" class="btn">Button</a>
<a href="#" class="btn-secondary">Button Secondary</a>
<a href="#" class="btn disabled">Button Disabled</a>
<a href="#" class="btn">Button <i class="icon-checkmark"></i></a>

<br>

<div class="btn-share">
    <a href="#" class="btn btn-share-facebook"><i class="icon-facebook-s"></i><span>Facebook</span></a>
    <span class="count-share">...</span>
</div>

<div class="btn-share">
    <a href="#" class="btn btn-share-plus"><i class="icon-google-plus-s"></i><span>Plus</span></a>
    <span class="count-share">...</span>
</div>

<div class="btn-share">
    <a href="#" class="btn btn-share-twitter"><i class="icon-twitter-s"></i></a>
    <span class="count-share">...</span>
</div>

<br>

<button class="btn-hamburger">
    <span class="line"></span>
</button>