<div class="g-font-listing">
    {{#each fonts}}
        <div class="g-box-font {{class}}">
            <div class="g-header-font">
                <div>{{title}}</div>
                <div><code>{{variable}}</code></div>
                <div class="g-font"></div>
            </div>

            <div class="g-example-text">
                {{../lorem}}
            </div>
        </div>
    {{/each}}
</div>