<form action="">
    <ul class="g-form">
        <li>
            <label for="text">Text</label>
            <input id="text" type="text">
        </li>
        <li class="field-error">
            <label for="text-error">Text Error</label>
            <input id="text-error" type="text">
        </li>
        <li>
            <label for="select">Select</label>
            <select name="" id="select" data-component="chosen">
                <option value="1">Lorem ipsum.</option>
                <option value="2">Mollitia, veritatis.</option>
                <option value="3">Placeat, maiores.</option>
                <option value="4">Eum, ipsa.</option>
                <option value="5">Delectus, quos.</option>
            </select>
        </li>
        <li>
            <label for="select">Multiple Select</label>
            <select multiple="multiple" name="" id="select" data-component="chosen">
                <option value="1">Lorem ipsum.</option>
                <option value="2">Mollitia, veritatis.</option>
                <option value="3">Placeat, maiores.</option>
                <option value="4">Eum, ipsa.</option>
                <option value="5">Delectus, quos.</option>
                <option value="6">Lorem ipsum.</option>
                <option value="7">Mollitia, veritatis.</option>
                <option value="8">Placeat, maiores.</option>
                <option value="9">Eum, ipsa.</option>
                <option value="10">Delectus, quos.</option>
                <option value="11">Lorem ipsum.</option>
                <option value="12">Mollitia, veritatis.</option>
                <option value="13">Placeat, maiores.</option>
                <option value="14">Eum, ipsa.</option>
                <option value="15">Delectus, quos.</option>
                <option value="16">Lorem ipsum.</option>
                <option value="17">Mollitia, veritatis.</option>
                <option value="18">Placeat, maiores.</option>
                <option value="19">Eum, ipsa.</option>
                <option value="20">Delectus, quos.</option>
            </select>
        </li>
        <li>
            <label for="textarea">Textarea</label>
            <textarea name="" id="texarea" cols="30" rows="10"></textarea>
        </li>
        <li class="g-group-icheck">
            <label for="one">
                Example
                <input name="gradio" id="one" type="radio" data-component="icheck">
            </label>
            <label for="two">
                Example
                <input name="gradio" id="two" type="radio" data-component="icheck">
            </label>
            <label for="three">
                Example
                <input name="gradio" id="three" type="radio" data-component="icheck">
            </label>
        </li>
        <li class="g-group-icheck">
            <label for="cone">
                Example
                <input name="gcheck" id="cone" type="checkbox" data-component="icheck">
            </label>
            <label for="ctwo">
                Example
                <input name="gcheck" id="ctwo" type="checkbox" data-component="icheck">
            </label>
            <label for="cthree">
                Example
                <input name="gcheck" id="cthree" type="checkbox" data-component="icheck">
            </label>
        </li>
    </ul>
</form>