<div class="g-grid">
    <div class="row">
        <div class="one column">One</div>
        <div class="eleven columns">Eleven</div>
    </div>

    <div class="row">
        <div class="two columns">Two</div>
        <div class="ten columns">Ten</div>
    </div>

    <div class="row">
        <div class="three columns">Three</div>
        <div class="nine columns">Nine</div>
    </div>

    <div class="row">
        <div class="four columns">Four</div>
        <div class="eight columns">Eight</div>
    </div>

    <div class="row">
        <div class="five columns">Five</div>
        <div class="seven columns">Seven</div>
    </div>

    <div class="row">
        <div class="six columns">Six</div>
        <div class="six columns">Six</div>
    </div>
</div>