<div class="gallery-wrapp" data-component="gallery">
    <a class="gallery" href="assets/images/sport1.jpg" data-element="image"><img src="assets/images/sport1.jpg" width="150" height="75"></a>
    <a class="gallery" href="assets/images/natureza1.jpg" data-element="image"><img src="assets/images/natureza1.jpg" width="150" height="75"></a>
    <a class="gallery" href="assets/images/natureza2.jpg" data-element="image"><img src="assets/images/natureza2.jpg" width="150" height="75"></a>
    <a class="gallery" href="assets/images/natureza3.jpg" data-element="image"><img src="assets/images/natureza3.jpg" width="150" height="75"></a>
</div>