<div class="gallery-wrapp">
    <a class="gallery" href="http://lorempixel.com/800/400/sports/1" data-featherlight="image"><img src="http://lorempixel.com/100/100/sports/1" alt=""></a>
    <a class="gallery" href="http://lorempixel.com/800/400/sports/2" data-featherlight="image"><img src="http://lorempixel.com/100/100/sports/2" alt=""></a>
    <a class="gallery" href="http://lorempixel.com/800/400/sports/3" data-featherlight="image"><img src="http://lorempixel.com/100/100/sports/3" alt=""></a>
    <a class="gallery" href="http://lorempixel.com/800/400/sports/4" data-featherlight="image"><img src="http://lorempixel.com/100/100/sports/4" alt=""></a>
</div>