<nav class="navigation navigation-main" data-component="navigation">
    <ul class="menu">
        <li><a href="" title="">Home</a></li>
        <li class="menu-item-has-children">
            <a href="" title="">About</a>
            <ul class="sub-menu">
                <li><a href="" title="">Product</a></li>
                <li class="menu-item-has-children">
                    <a href="" title="">Product one</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">Product</a></li>
                        <li><a href="" title="">Product one</a></li>
                        <li><a href="" title="">Product two</a></li>
                    </ul>
                </li>
                <li><a href="" title="">Product two</a></li>
            </ul>
        </li>
        <li class="current-menu-item"><a href="" title="">Blog</a></li>
        <li><a href="" title="">Contact</a></li>
    </ul>
</nav>