<div class="slider-wrapper">
    <ul class="slider" data-component="bxslider">
        <li><a href="#"><img src="http://placehold.it/760x300" alt=""></a></li>
        <li><img src="http://placehold.it/760x300" alt=""></li>
        <li><img src="http://placehold.it/760x300" alt=""></li>
    </ul>
</div>