<div class="the-content">
    <figure class="thumbnail">
        <a href="" title="">
            <img src="http://placehold.it/760x400" alt="">
        </a>
        <figcaption>Image Thumbnail</figcaption>
    </figure>
</div>