<div id="widget-area" class="widget-area g-widgets" role="complementary">
    <aside id="archives-3" class="widget widget_archive"><h2 class="widget-title">Archives</h2>
        <ul>
            <li><a href="http://localhost/wordpress/2015/08/">August 2015</a>&nbsp;(1)</li>
    	    <li><a href="http://localhost/wordpress/2015/07/">July 2015</a>&nbsp;(1)</li>
            <li><a href="http://localhost/wordpress/2015/03/">March 2015</a>&nbsp;(1)</li>
    	</ul>
    </aside>

    <aside id="categories-2" class="widget widget_categories"><h2 class="widget-title">Categories</h2>
        <ul>
    	       <li class="cat-item cat-item-1"><a href="http://localhost/wordpress/category/uncategorized/">Uncategorized</a> (3)</li>
    	</ul>
    </aside>

    <aside id="meta-2" class="widget widget_meta"><h2 class="widget-title">Meta</h2>
        <ul>
			<li><a href="http://localhost/wordpress/wp-admin/">Site Ghost</a></li>
            <li><a href="http://localhost/wordpress/wp-login.php?action=logout&amp;_wpnonce=294d46df5d">Log out</a></li>
			<li><a href="http://localhost/wordpress/feed/">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://localhost/wordpress/comments/feed/">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
            <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
        </ul>
    </aside>

    <aside id="recent-comments-2" class="widget widget_recent_comments">
        <h2 class="widget-title">Recent Comments</h2>
        <ul id="recentcomments">
            <li class="recentcomments"><span class="comment-author-link">Ghost</span> on <a href="http://localhost/wordpress/2015/08/17/hello-world/#comment-5">Hello world!</a></li>
            <li class="recentcomments"><span class="comment-author-link">Ghost</span> on <a href="http://localhost/wordpress/2015/08/17/hello-world/#comment-4">Hello world!</a></li>
            <li class="recentcomments"><span class="comment-author-link">Ghost</span> on <a href="http://localhost/wordpress/2015/08/17/hello-world/#comment-3">Hello world!</a></li>
            <li class="recentcomments"><span class="comment-author-link">Ghost</span> on <a href="http://localhost/wordpress/2015/08/17/hello-world/#comment-2">Hello world!</a></li>
            <li class="recentcomments"><span class="comment-author-link"><a href="https://wordpress.org/" rel="external nofollow" class="url">Mr WordPress</a></span> on <a href="http://localhost/wordpress/2015/08/17/hello-world/#comment-1">Hello world!</a></li>
        </ul>
    </aside>

    <aside id="tag_cloud-2" class="widget widget_tag_cloud">
        <h2 class="widget-title">Tag Cloud</h2>
        <div class="tagcloud">
            <a href="http://localhost/wordpress/tag/" class="tag-link-5" title="1 topic" style="font-size: 8pt;">Ghost</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-8" title="1 topic" style="font-size: 8pt;">FrontEnd</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-2" title="2 topics" style="font-size: 16.4pt;">WordPress</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-10" title="1 topic" style="font-size: 8pt;">Wp</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-7" title="1 topic" style="font-size: 8pt;">GitHub</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-9" title="1 topic" style="font-size: 8pt;">Javascript</a>
            <a href="http://localhost/wordpress/tag/" class="tag-link-3" title="3 topics" style="font-size: 22pt;">Sass</a>
        </div>
    </aside>

    <aside id="calendar-2" class="widget widget_calendar"><h2 class="widget-title">Calendar</h2>
        <div id="calendar_wrap">
            <table id="wp-calendar">
                <caption>September 2015</caption>
        	    <thead>
                    <tr>
                    	<th scope="col" title="Monday">M</th>
                    	<th scope="col" title="Tuesday">T</th>
                    	<th scope="col" title="Wednesday">W</th>
                    	<th scope="col" title="Thursday">T</th>
                    	<th scope="col" title="Friday">F</th>
                    	<th scope="col" title="Saturday">S</th>
                    	<th scope="col" title="Sunday">S</th>
                    </tr>
                </thead>

                <tfoot>
                	<tr>
                		<td colspan="3" id="prev"><a href="http://localhost/wordpress/2015/08/">« Aug</a></td>
                		<td class="pad">&nbsp;</td>
                		<td colspan="3" id="next" class="pad">&nbsp;</td>
                	</tr>
                </tfoot>

                <tbody>
                    <tr>
                    	<td colspan="1" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
                    </tr>
                    <tr>
                    	<td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td>
                    </tr>
                    <tr>
                    	<td>14</td><td id="today">15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td>
                    </tr>
                    <tr>
                    	<td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td>
                    </tr>
                    <tr>
                    	<td>28</td><td>29</td><td>30</td>
                    	<td class="pad" colspan="4">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </aside>

    <aside id="pages-2" class="widget widget_pages">
        <h2 class="widget-title">Pages</h2>
        <ul>
			<li class="page_item page-item-2"><a href="http://localhost/wordpress/sample-page/">Sample Page</a></li>
		</ul>
    </aside>

    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h2 class="widget-title">Recent Posts</h2>
        <ul>
            <li>
                <a href="#">Hello world!</a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Page</a>
            </li>
        </ul>
    </aside>
</div>