<div class="gh-box gh-medium">
    <div class="social-share">
        <ul class="social-share-list">
            <li class="facebook"><a href="#" title=""><i class="icon-g-facebook"></i></a></li>
            <li class="linkedin"><a href="#" title=""><i class="icon-g-linkedin"></i></a></li>
            <li class="google-plus"><a href="#" title=""><i class="icon-g-google-plus"></i></a></li>
            <li class="whatsapp"><a href="#" title=""><i class="icon-g-whatsapp"></i></a></li>
            <li class="twitter"><a href="#" title=""><i class="icon-g-twitter"></i></a></li>
        </ul>
    </div>

    <div class="social-share footer">
    	<span class="social-share-text">compartilhar</span>

        <ul class="social-share-list">
            <li class="facebook"><a href="#" title=""><i class="icon-g-facebook"></i></a></li>
            <li class="linkedin"><a href="#" title=""><i class="icon-g-linkedin"></i></a></li>
            <li class="google-plus"><a href="#" title=""><i class="icon-g-google-plus"></i></a></li>
            <li class="whatsapp"><a href="#" title=""><i class="icon-g-whatsapp"></i></a></li>
            <li class="twitter"><a href="#" title=""><i class="icon-g-twitter"></i></a></li>
        </ul>
    </div>    
</div>