<div class="gh-box gh-medium gh-featured the-content">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>product</th>
                <th>name</th>
                <th>duration</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>macbook</td>
                <td>Jhon</td>
                <td>03:30</td>
            </tr>
            <tr>
                <td>1</td>
                <td>macbook</td>
                <td>Jhon</td>
                <td>03:30</td>
            </tr>
            <tr>
                <td>1</td>
                <td>macbook</td>
                <td>Jhon</td>
                <td>03:30</td>
            </tr>
        </tbody>
    </table>            
</div>