.alignleft {
	float: left;
	margin: 5px $col-margin $col-margin 0;
}

.alignright {
	float: right;
	margin: 5px 0 $col-margin $col-margin;
}

.aligncenter,
.alignnone {
	clear: both;
	margin: 5px auto $col-margin;
}