// -- Variables form
$_formBorderColor 	: #bbb;
$_formActiveColor 	: $colorPrimary;
$_formTextColor 	: $colorText;
$_formFieldHeight 	: 38px;
$_formArrowSize 	: 7px;
$_formRadius 		: 3px;


// -- elements form
%elementsForm {
	background: #fff;
	border: 1px solid $_formBorderColor;
	border-radius: $_formRadius;
	color: $_formTextColor;
	font: 14px $fontPrimary;
	padding: 10px;
	width: 100%;
	-webkit-transition: box-shadow .2s;
			transition: box-shadow .2s;

	&:focus {
		box-shadow: 0 0 2px 0 $_formActiveColor;
		outline: none;
	}

	.field-error & {
		background: #fcf0f0;
		box-shadow: 0 0 2px 0 red;
	}
}

input {
	@extend %elementsForm;
	padding: 0 10px;
	height: $_formFieldHeight;
}

input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	height: auto;
	width: auto;
}

input[type="radio"],
input[type="checkbox"] {
	padding: 0;
}