%elementsForm {
	background: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	color: #797979;
	font-size: 14px;
	padding: 10px;
	width: 100%;

	&:focus {
		box-shadow: 0 0 2px 0 #cff09e;
		outline: none;
	}

	.form-error & {
		background: #fcf0f0;
		box-shadow: 0 0 2px 0 red;
	}
}

input {
	@extend %elementsForm;
	padding: 0 10px;
	height: 35px;
}

input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
	height: auto;
	width: auto;
}

input[type="radio"],
input[type="checkbox"] {
	padding: 0;
}