.gh-branding {
  color: #8e8ec5;
  cursor: default;
  font: 700 30px/1 "Roboto", sans-serif;
  letter-spacing: -5px;
}

.icon-ghost-display:before {
  content: "\e900";
}

.icon-ghost-mobile:before {
  content: "\e901";
}

.icon-ghost-tablet:before {
  content: "\e902";
}

.icon-ghost-enlarge2:before {
  content: "\e903";
}

.icon-ghost-cross:before {
  content: "\e908";
}

.icon-ghost-checkmark:before {
  content: "\e909";
}

.icon-ghost-info:before {
  content: "\e904";
}

.icon-ghost-next:before {
  content: "\e905";
}

.icon-ghost-github:before {
  content: "\e906";
}

.gh-false {
  display: none !important;
}

.gh-title {
  border-bottom: 1px solid #e5e5e5;
  color: #737373;
  font: 700 14px "Roboto", sans-serif;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.gh-title.gh-title-component {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.gh-box:not(.gh-featured) {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 25px;
  padding: 25px;
}

.gh-box {
  width: 100%;
}
.gh-box > *:last-child {
  margin-bottom: 0 !important;
}
.gh-box .gh-list > * {
  margin-top: 25px;
}
.gh-box .gh-list > *:first-child {
  margin-top: 0;
}
.gh-box.gh-featured {
  margin-bottom: 25px;
}
@media (min-width: 1180px) {
  .gh-box {
    width: 23.41102%;
  }
  .gh-box.gh-medium {
    width: 48.94068%;
  }
  .gh-box.gh-full {
    width: 100%;
  }
}

.gh-gutter {
  width: 2.11864%;
}

.gh-menu {
  font: 700 14px "Roboto", sans-serif;
  text-transform: uppercase;
}
.gh-menu li {
  display: inline-block;
  margin-left: 15px;
}
.gh-menu li:first-child {
  margin-left: 0;
}
.gh-menu a {
  color: #737373;
  display: block;
  text-decoration: none;
  transition: .3s color;
}
.gh-menu a:hover {
  color: #8e8ec5;
}

.gh-color-info {
  background: #f7f7f7;
  border-radius: 2px;
  flex: 1;
  overflow: hidden;
  padding: 5px 10px;
}

.gh-color-hex {
  text-transform: uppercase;
}

.gh-color-background {
  width: 20px;
}

.gh-font > strong {
  display: block;
  margin-bottom: 10px;
}

.gh-font-info strong {
  margin-right: 5px;
}

.gh-icons ul {
  border-color: #737373;
  color: #737373;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;
}
@media (min-width: 1180px) {
  .gh-icons ul {
    justify-content: left;
  }
}

.gh-icons i {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 4.7px;
  position: relative;
  text-align: center;
  transition: .3s;
  width: 50px;
}
.gh-icons i:hover {
  background: #e5e5e5;
}
.gh-icons i.active, .gh-icons i.active:hover {
  background: #fff;
  border-color: #8e8ec5;
  color: #8e8ec5;
}

.gh-message-wrap {
  background: rgba(142, 142, 197, 0.9);
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  transition: .5s transform;
  transform: translateY(100%);
  z-index: 5;
}
.gh-message-wrap.active {
  transform: translateY(0);
}

.gh-color-list {
  color: #737373;
  display: flex;
  flex-wrap: wrap;
  font: 11px "Roboto", sans-serif;
  justify-content: space-between;
}
.gh-color-list li {
  border-radius: 2px;
  display: flex;
  margin-top: 15px;
  overflow: hidden;
}
.gh-color-list li:first-child {
  margin-top: 0;
}
.gh-color-list .gh-label {
  font-weight: bold;
  margin-bottom: 10px;
}
.gh-color-list .gh-color {
  width: 100px;
}

.gh-fonts-list {
  color: #737373;
  display: flex;
  flex-wrap: wrap;
  font: 11px "Roboto", sans-serif;
  justify-content: space-between;
}
.gh-fonts-list strong {
  font-weight: bold;
}
.gh-fonts-list .gh-font-info {
  margin-top: 15px;
}
.gh-fonts-list .gh-font-info:first-child {
  margin-top: 0;
}

#gh-header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
}

.gh-header-container {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: space-between;
}
.gh-header-container .gh-col {
  flex: 1;
}
.gh-header-container .gh-branding {
  flex: initial;
  padding: 0 20px;
}

.gh-header-buttons {
  font-size: 22px;
  text-align: right;
}
.gh-header-buttons a {
  color: #000;
  text-decoration: none;
}

.gh-container {
  max-width: 1180px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1220px) {
  .gh-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.gh-wrapper > * {
  display: block;
  padding: 30px 0;
}

.gh-wrapper {
  background: #fff;
}

.gh-wrapper.gh-components {
  background: none;
  padding-bottom: 50px;
}

body {
  background: #f4f4f4;
}

/*# sourceMappingURL=ghost.css.map */
