.gh-icons i::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ghost-admin-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gh-branding {
  color: red;
  cursor: default;
  font: 30px/1 "open_sansbold";
  letter-spacing: -5px;
}

.icon-ghost-display:before {
  content: "\e900";
}

.icon-ghost-mobile:before {
  content: "\e901";
}

.icon-ghost-tablet:before {
  content: "\e902";
}

.icon-ghost-enlarge2:before {
  content: "\e903";
}

.icon-ghost-cross:before, .gh-icons i::after {
  content: "\e908";
}

.icon-ghost-checkmark:before {
  content: "\e909";
}

.icon-ghost-info:before {
  content: "\e904";
}

.icon-ghost-next:before {
  content: "\e905";
}

.icon-ghost-github:before {
  content: "\e906";
}

.gh-false {
  display: none !important;
}

.gh-title {
  border-bottom: 1px solid #e5e5e5;
  color: #737373;
  font: 14px "open_sansbold";
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.gh-title.gh-title-component {
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.gh-box:not(.gh-featured) {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 25px;
  padding: 25px;
}

.gh-box {
  width: 100%;
}
.gh-box > *:last-child {
  margin-bottom: 0 !important;
}
.gh-box .gh-list > * {
  margin-top: 25px;
}
.gh-box .gh-list > *:first-child {
  margin-top: 0;
}
.gh-box.gh-featured {
  margin-bottom: 25px;
}
@media (min-width: 1180px) {
  .gh-box {
    width: 23.41102%;
  }
  .gh-box.gh-medium {
    width: 48.94068%;
  }
  .gh-box.gh-full {
    width: 100%;
  }
}

.gh-gutter {
  width: 2.11864%;
}

.gh-menu {
  font: 14px "open_sansbold";
  text-transform: uppercase;
}
.gh-menu li {
  display: inline-block;
  margin-left: 15px;
}
.gh-menu li:first-child {
  margin-left: 0;
}
.gh-menu a {
  color: #737373;
  display: block;
  text-decoration: none;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.gh-menu a:hover {
  color: red;
}

.gh-color-info {
  background: #f7f7f7;
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  padding: 5px 10px;
}

.gh-color-hex {
  text-transform: uppercase;
}

.gh-color-background {
  width: 20px;
}

.gh-font > strong {
  display: block;
  margin-bottom: 10px;
}

.gh-font-info strong {
  margin-right: 5px;
}

.gh-icons ul {
  border-color: #737373;
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px;
}
@media (min-width: 1180px) {
  .gh-icons ul {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.gh-icons i {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 50px;
  line-height: 50px;
  margin: 4.7px;
  position: relative;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  width: 50px;
}
.gh-icons i:hover {
  background: #e5e5e5;
}
.gh-icons i::after {
  background: red;
  border-radius: 100%;
  color: #fff;
  font-size: 6px;
  height: 14px;
  line-height: 14px;
  opacity: 0;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -5px;
  -webkit-transition: .3s;
  transition: .3s;
  visibility: hidden;
  width: 14px;
}
.gh-icons i.active, .gh-icons i.active:hover {
  background: #fff;
  border-color: red;
  color: red;
}
.gh-icons i.active::after {
  opacity: 1;
  visibility: visible;
}

.gh-message-wrap {
  background: rgba(255, 0, 0, 0.9);
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-family: "open_sansregular";
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  text-align: center;
  -webkit-transition: .5s transform;
  transition: .5s transform;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.gh-message-wrap.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gh-color-list {
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font: 11px "open_sansregular";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gh-color-list li {
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  overflow: hidden;
}
.gh-color-list li:first-child {
  margin-top: 0;
}
.gh-color-list .gh-label {
  font-weight: bold;
  margin-bottom: 10px;
}
.gh-color-list .gh-color {
  width: 100px;
}

.gh-fonts-list {
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font: 11px "open_sansregular";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gh-fonts-list strong {
  font-weight: bold;
}
.gh-fonts-list .gh-font-info {
  margin-top: 15px;
}
.gh-fonts-list .gh-font-info:first-child {
  margin-top: 0;
}

#gh-header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
}

.gh-header-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gh-header-container .gh-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.gh-header-container .gh-branding {
  -webkit-box-flex: initial;
      -ms-flex: initial;
          flex: initial;
  padding: 0 20px;
}

.gh-header-buttons {
  font-size: 22px;
  text-align: right;
}
.gh-header-buttons a {
  color: #000;
  text-decoration: none;
}

.gh-container {
  max-width: 1180px;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1220px) {
  .gh-container {
    margin-left: auto;
    margin-right: auto;
  }
}

.gh-wrapper > * {
  display: block;
  padding: 30px 0;
}

.gh-wrapper.gh-components {
  background: #f4f4f4;
}
/*# sourceMappingURL=ghost.css.map */